body {
  background-color: black;
}
.geometric1 {
  position: absolute;
  right: -55px;
  top: -10px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  text-align: center;
  background-color: black;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.leftPanel {
  position: fixed;
  bottom: 20%;
  top: 20%;
  overflow-y: auto;
}
.header {
  position: fixed;
  right: 0%;
  top: 0%;
  z-index: 50;
}
@media only screen and (max-width: 800px) {
  .centerPanel {
    margin: 0 auto;
    width: 100%;
  }
  .leftPanel {
    display: none;
  }
}

@media screen and (min-width: 640px) {
  .Icon {
    font-size: 45px;
  }
}

@media only screen and (min-width: 800px) {
  .header {
    display: none;
  }
  .Icon {
    display: relative;
    font-size: 35px;
  }
}
